.box {
    background-color:yellow;
    display: table-cell;
    height: 100px;
    width: 100px;
    margin: 10px;
}
input, select {
    margin: 5px;
}

button {
    margin: 25px;
}

.row {
    display: table;
    width: 100px;
    height: 100px;
    table-layout: fixed;
    border-spacing: 10px;
}
#box-container {
    height: 800px;
    width: 800px;
}
#error-columns {
    font-size: 0.8em;
    color: red;

}
#error-rows {
    font-size: 0.8em;
    color: red;
}

